#carta{
    background-color: white;
    border-color: #d9dbde;
}
#layoutAuthentication_content{
    background-color: #1cc88a;
}
#inicio{
    background-color: #1cc88a;
    border-color: #1cc88a;
}
#inputEmail {
    background-color: #eef2f8;
}
#inputPassword{
    background-color: #eef2f8;
}
